@import (inline) "../bower_components/datatables/media/css/jquery.dataTables.min.css";
@import (inline) "../bower_components/pickadate/lib/themes/classic.css";
@import (inline) "../bower_components/pickadate/lib/themes/classic.date.css";
@import "barn.less";

@import "overrides/bootstrap-navs.less";
@import "overrides/datatables.less";

.row {
    margin-left: 0;
    margin-right: 0;
}

h2 {
    border-top: @section-border;
    border-bottom: @separator-border;
}

@import "index.less";
@import "view.less";
