@bar-color: #6b812d;

.axis {
    font: 12px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.view-page {
    h3 {
        .text-header();
    }

    .filters {
        .make-row(0);
        margin-bottom: 50px;
        margin-top: 25px;

        &-actions {
            padding-top: 30px;

            .btn {
                &-hide {
                    margin-left: 30px;
                }
            }
        }

        &-container {
            .make-sm-column(5, 0);
        }

        &-header {
            border-bottom: @separator-border;
        }

        &-list {
            border-bottom: @separator-border;
            padding-bottom: 10px;
        }

        &-list-item {
            margin-bottom: 5px;
            margin-top: 5px;

            &-value {
                font-weight: bold;
            }
        }
    }

    .summary {
        min-height: 400px;

        &-header {
            border-bottom: @separator-border;
        }

        &-actions {
            display: none;
            margin-top: 25px;

            &-download-start {
                display: none;
            }
        }

        .data-summary {
            min-height: 150px;
            position: relative;
        }

        .tab-content {
            border-bottom: @separator-border;
            margin-top: 50px;
            padding-bottom: 15px;
        }

        &-no-data {
            display: none;
        }
    }

    .metric-tab {
        &-row {
            .make-row(0);
        }

        &-table {
            .make-md-column(6);

            th {
                min-width: 50px;
            }

            .dataTables_wrapper {
                overflow: auto;
            }
        }

        &-chart {
            .make-md-column(6);

            &-title {
                text-align: center;
                text-transform: capitalize;
            }
        }
    }

    .chart-tooltip {
        background-color: white;
        border: 1px solid black;
        display: none;
        font-size: 12px;
        line-height: 15px;
        padding: 5px;
        position: absolute;
        z-index: 10;

        .date {
            font-weight: bold;
        }
    }

    .chart {
        .bar {
            text {
                cursor: default;
                fill: #FFF;
                font-size: 10px;
                stroke: none;
                text-anchor: middle;
            }
        }

        rect {
            fill: @bar-color;
        }

        .selected {
            rect {
                fill: darken(@bar-color, 5%);
            }
        }
    }
}
