table.dataTable thead {
    .sorting {
        background-image: data-uri("../bower_components/datatables/media/images/sort_both.png");
    }
    .sorting_asc {
        background-image: data-uri("../bower_components/datatables/media/images/sort_asc.png");
    }
    .sorting_desc {
        background-image: data-uri("../bower_components/datatables/media/images/sort_desc.png");
    }
    .sorting_asc_disabled {
        background-image: data-uri("../bower_components/datatables/media/images/sort_asc_disabled.png");
    }
    .sorting_desc_disabled {
        background-image: data-uri("../bower_components/datatables/media/images/sort_desc_disabled.png");
    }
}

.dataTables_wrapper {
    .dataTables_paginate {
        float: left;
        font-weight: bold;

        .paginate_button {
            text-transform: uppercase;

            &,
            &.current,
            &.current:focus,
            &.current:visited,
            &.current:hover,
            &.current:active,
            &:focus,
            &:visited,
            &:hover,
            &:active {
                background: none;
                border: none;
            }

            &, &:hover {
                color: @metric-color !important;
            }

            &.previous, &.next {
                color: @garden-color !important;
            }
        }
    }
}
