<ul class="nav nav-tabs" role="tablist">
    {{#each metrics}}
    <li role="presentation">
        <a href="#{{slug}}" role="tab" data-toggle="tab">{{name}}</a>
    </li>
    {{/each}}
</ul>

<div class="tab-content">
    {{#each metrics}}
    <div role="tabpanel" class="tab-pane" id="{{slug}}">
        <div class="row">
            <div class="col-md-7">
                <table cellpadding="0" cellspacing="0" border="0" class="metric-table" height="100%"></table>
            </div>
            <div class="col-md-5">
                <div class="chart"></div>
            </div>
        </div>
    </div>
    {{/each}}
</div>
