---
title: About
bodyClass: about-page
---
<div id="content">
    <p>This is the <a href="http://farmingconcrete.org">Farming Concrete</a> Mill, where you can download data stored in the <a href="/barn/">Barn</a>. The data was collected with the <a href="/barn/data-collection-toolkit/">Five Borough Farm Data Collection Toolkit</a>, developed by the Design Trust for Public Space in collaboration with Farming Concrete.</p>
    <section>
        <h3>Privacy Considerations</h3>
        <p>We have tried to balance releasing useful data with the privacy of
        the gardens and those who helped to collect this data. As a result, we
        generate random, unique identifiers for each garden, gardener, and other
        identifying information. These identifiers are generated <em>each time 
        you download data</em>, so they will not match across multiple queries.
        If you download one spreadsheet containing records from multiple
        records, the identifiers will match across metrics.</p>
        
        <p>Where available, we provide the city, state, and zip code for
        gardens.</p>

        <p>If you have questions about Mill or see data you believe is sensitive
        please <a href="mailto:admin@farmingconcrete.org">let us know</a>.</p>
    </section>
</div>
