---
title: Home
bodyClass: main-index-page
---
<div id="content">
    <div class="row mill-explanation-row">
        <div id="left">
            <section class="intro-text">
                <p>Welcome to the <a href="http://farmingconcrete.org">Farming Concrete</a> Mill, where you can download data stored in the <a href="/barn/">Barn</a>. The data was collected with the <a href="/barn/data-collection-toolkit/">Farming Concrete Data Collection Toolkit</a>, developed by the Design Trust for Public Space in collaboration with Farming Concrete. Read more at our <a href="about.html">about page</a>.</p>
            </section>
        </div>
        <div id="right">
            <div id="map"></div>
        </div>
    </div>

    <section class="overview">
        <h2><img src="img/overview.jpg" /></h2>
        <div class="overview-list">
            <div class="overview-list-item">
                <div class="overview-list-item-number overview-gardens"></div>
                <div class="overview-list-item-label">gardens recording data</div>
            </div>
            <div class="overview-list-item">
                <div class="overview-list-item-number overview-harvest-pounds"></div>
                <div class="overview-list-item-label">pounds of food harvested</div>
            </div>
            <div class="overview-list-item">
                <div class="overview-list-item-number overview-compost-pounds"></div>
                <div class="overview-list-item-label">pounds of compost</div>
            </div>
            <div class="overview-list-item overview-list-item-counting">and counting!</div>
        </div>
    </section>

    <section class="filters">
        <h2><img src="img/download_data.jpg" /></h2>
        <form class="filters-form">
            <div class="filters-item filters-metrics-row">
                <div class="filters-item-label">
                    Methods:
                </div>
                <div class="filters-item-inputs">
                    <div class="col-md-6">
                        <select name="metric" multiple style="background: white;"></select>
                    </div>
                </div>
            </div>

            <div class="filters-item filters-geo-row">
                <div class="filters-item-label">
                    Where:
                </div>
                <div class="filters-item-inputs">
                    <div class="col-md-3">
                        <select name="state" style="background: white;">
                            <option value="">Select a state</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <select name="city" disabled style="background: white;">
                            <option value="">Select a city</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <select name="zip" disabled style="background: white;">
                            <option value="">Select a zip code</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="filters-item filters-dates-row">
                <div class="filters-dates-row-item">
                    <div class="filters-item-label">
                        Start date:
                    </div>
                    <div class="filters-item-inputs">
                        <input name="start" type="date" class="form-control" />
                    </div>
                </div>
                <div class="filters-dates-row-item">
                    <div class="filters-item-label">
                        End date:
                    </div>
                    <div class="filters-item-inputs">
                        <input name="end" type="date" class="form-control" />
                    </div>
                </div>
            </div>

            <div class="filters-item filters-groups-row">
                <div class="filters-item-label">
                    Groups:
                </div>
                <div class="filters-item-inputs">
                    <div class="col-md-3">
                        <select name="group" style="background: white;">
                            <option value="">Select group</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="filters-item filters-types-row">
                <div class="filters-item-label">
                    Garden types:
                </div>
                <div class="filters-item-inputs">
                    <div class="col-md-3">
                        <select name="garden_type" style="background: white;">
                            <option value="">Select garden type</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="filters-actions">
                <a class="btn btn-primary btn-submit" href="view.html">go</a>
            </div>
        </form>
    </section>
</div>
