---
title: Home
bodyClass: main-index-page
---
<div id="content">
    <div class="row mill-explanation-row">
        <div id="left">
            <section class="intro-text">
                <p>Welcome to the <a href="http://farmingconcrete.org">Farming Concrete</a> Mill, where you can download data stored in the <a href="/barn/">Barn</a>. The data was collected with the <a href="/barn/data-collection-toolkit/">Five Borough Farm Data Collection Toolkit</a>, developed by the Design Trust for Public Space in collaboration with Farming Concrete. Read more at our <a href="about.html">about page</a>.</p>
            </section>
        </div>
    </div>

    <section class="overview">
        <h2><img src="img/overview.jpg" /></h2>
        <div class="overview-list">
            <div class="overview-list-item">
                <div class="overview-list-item-number overview-gardens"></div>
                <div class="overview-list-item-label">gardens recording data</div>
            </div>
            <div class="overview-list-item">
                <div class="overview-list-item-number overview-harvest-pounds"></div>
                <div class="overview-list-item-label">pounds of food harvested</div>
            </div>
            <div class="overview-list-item">
                <div class="overview-list-item-number overview-compost-pounds"></div>
                <div class="overview-list-item-label">pounds of compost</div>
            </div>
            <div class="overview-list-item overview-list-item-counting">and counting!</div>
        </div>
    </section>

    <section class="filters">
        <form class="filters-form">
            <h2><img src="img/download_data.jpg" /></h2>
            <div class="filters-item filters-metrics-row">
                <div class="filters-item-label">
                    Metrics:
                </div>
                <div class="filters-item-inputs">
                    <div class="col-md-6">
                        <select name="metric" multiple>
                            <optgroup label="Food Production Data">
                                <option>Crop Count</option>
                                <option>Harvest Count</option>
                            </optgroup>
                            <optgroup label="Environmental Data">
                                <option>Compost Production by Volume</option>
                                <option>Compost Production by Weight</option>
                                <option>Landfill Waste Diversion by Volume</option>
                                <option>Landfill Waste Diversion by Weight</option>
                                <option>Rainwater Harvesting</option>
                            </optgroup>
                            <optgroup label="Social Data">
                                <option>Participation by Geography</option>
                                <option>Participation by Task</option>
                                <option>Participation by Project</option>
                                <option>Skills &amp; Knowledge in the Garden</option>
                                <option>Reach of Programs</option>
                            </optgroup>
                            <optgroup label="Health Data">
                                <option>Changes in Attitude: Yum &amp; Yuck</option>
                                <option>Good Moods in the Garden</option>
                                <option>Healthy Eating</option>
                                <option>Beauty of the Garden</option>
                            </optgroup>
                            <optgroup label="Economic Data">
                                <option>Donations of Food</option>
                                <option>Market Sales</option>
                            </optgroup>
                        </select>
                    </div>
                </div>
            </div>

            <div class="filters-item filters-geo-row">
                <div class="filters-item-label">
                    Where:
                </div>
                <div class="filters-item-inputs">
                    <div class="col-md-3">
                        <select name="state">
                            <option value="">Select a state</option>
                            <option>NY</option>
                            <option>PA</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <select name="city" disabled>
                            <option value="">Select a city</option>
                            <optgroup label="New York City">
                                <option>All boroughs</option>
                                <option>Bronx</option>
                                <option>Brooklyn</option>
                                <option>Manhattan</option>
                                <option>Queens</option>
                                <option>Staten Island</option>
                            </optgroup>
                            <option>Buffalo</option>
                            <option>Rochester</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <select name="zip" disabled>
                            <option value="">Select a zip code</option>
                            <option>11111</option>
                            <option>11112</option>
                            <option>11113</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="filters-item filters-dates-row">
                <div class="filters-dates-row-item">
                    <div class="filters-item-label">
                        Start date:
                    </div>
                    <div class="filters-item-inputs">
                        <input name="start" type="date" class="form-control" />
                    </div>
                </div>
                <div class="filters-dates-row-item">
                    <div class="filters-item-label">
                        End date:
                    </div>
                    <div class="filters-item-inputs">
                        <input name="end" type="date" class="form-control" />
                    </div>
                </div>
            </div>

            <div class="filters-item filters-groups-row">
                <div class="filters-item-label">
                    Groups:
                </div>
                <div class="filters-item-inputs">
                    <div class="col-md-3">
                        <select name="group">
                            <option value="">Select group</option>
                            <option>BQLT</option>
                            <option>NYRP</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="filters-item filters-types-row">
                <div class="filters-item-label">
                    Garden types:
                </div>
                <div class="filters-item-inputs">
                    <div class="col-md-3">
                        <select name="garden_type">
                            <option value="">Select garden type</option>
                            <option>community garden</option>
                            <option>urban farm</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="filters-actions">
                <a class="btn btn-primary btn-submit" href="view.html">go</a>
            </div>
        </form>
    </section>
</div>
