---
title: View results
bodyClass: view-page
---
<h2><img src="img/view_results.jpg" /></h2>
<div id="content">
    <section class="filters">
        <div class="filters-container">
            <h3 class="filters-header">Filters summary</h3>
            <div class="filters-list"></div>
            <div class="filters-actions">
                <a class="btn btn-default btn-edit-filters" href="index.html">edit filters</a>
                <a class="btn btn-default btn-hide" href="#">hide</a>
            </div>
        </div>
        <button class="btn btn-default btn-show hidden">show filters</button>
    </section>

    <section class="summary">
        <h3 class="summary-header">Data summary</h3>
        <div class="summary-no-data alert alert-danger">
            <p>
                Sorry, we couldn't find any data matching your filters. Please
                edit the filters and try again.
            </p>
        </div>
        <div class="data-summary"></div>
        <div class="summary-actions">
            <a class="btn btn-primary btn-download">download data</a>
        </div>
    </section>
</div>
