---
title: View results
bodyClass: view-page
---
<h2>View results</h2>
<div id="content">
    <section>
        <h3>Filters summary</h3>
        <div class="row">
            <div class="col-md-3">
                <div>Where: <strong>All NYC boroughs</strong></div>
                <div>Metrics: <strong>All metrics</strong></div>
                <div>When: <strong>1/1/2014</strong> to <strong>6/30/2014</strong></div>
                <div>Groups: <strong>None selected</strong></div>
                <div>Garden types: <strong>All types</strong></div>
            </div>
            <div class="col-md-3">
                <a class="btn btn-default" href="index.html">edit filters</a>
                <a class="btn btn-default btn-hide" href="#">hide</a>
            </div>
        </div>
    </section>
    <section>
        <h3>Data summary</h3>
        <div class="data-summary"></div>
    </section>

    <div class="data-summary-actions">
        <a class="btn btn-primary btn-download" href="#">
            download data
        </a>
    </div>
</div>
